[submodule ".deps/command-t"]
	path = .deps/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".deps/vim-coffee-script"]
	path = .deps/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".deps/nerdcommenter"]
	path = .deps/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".deps/nerdtree"]
	path = .deps/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".deps/vim-css-color"]
	path = .deps/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule ".deps/csapprox"]
	path = .deps/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule ".deps/vim-pathogen"]
	path = .deps/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".deps/pypdfcrop"]
	path = .deps/pypdfcrop
	url = git://github.com/stevenrobertson/pypdfcrop.git
[submodule ".deps/vim-gnupg"]
	path = .deps/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".deps/xcompose"]
	path = .deps/xcompose
	url = git://github.com/kragen/xcompose.git
[submodule ".deps/ctrlp"]
	path = .deps/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".deps/Recover.vim"]
	path = .deps/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule ".deps/powerline"]
	path = .deps/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".deps/fugitive"]
	path = .deps/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".deps/httpie"]
	path = .deps/httpie
	url = https://github.com/jkbr/httpie.git
[submodule ".deps/vimclojure"]
	path = .deps/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".deps/ack"]
	path = .deps/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".deps/requests"]
	path = .deps/requests
	url = https://github.com/kennethreitz/requests.git
[submodule ".deps/vim-clojure-static"]
	path = .deps/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".deps/vim-foreplay"]
	path = .deps/vim-foreplay
	url = https://github.com/tpope/vim-foreplay.git
[submodule ".deps/vim-classpath"]
	path = .deps/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".deps/rainbow_parentheses"]
	path = .deps/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".deps/vcscommand"]
	path = .deps/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule ".deps/vim-fireplace"]
	path = .deps/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule ".deps/ir_black"]
	path = .deps/ir_black
	url = https://github.com/twerth/ir_black.git
