[alias]
    ap = add --patch
    ci = commit
    co = checkout
    cp = checkout --patch
    dc = diff --cached --patience
    dh = diff HEAD --patience
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    q = stash
    rp = reset --patch
    ss = status -sb -uno
    st = status -sb
    ski = stash save --keep-index
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore.global
[user]
    name = Steven Robertson
    email = steven@strobe.cc
[help]
    autocorrect = -1
[merge]
    tool = diffuse
[branch]
	autosetuprebase = always
[push]
	default = current
